/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    background: linear-gradient(-63deg, #232526, #283840);
    background-size: 400% 400%;
    animation: gradient 65s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body>.container {
    padding: 60px 15px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body>.container {
    padding: 60px 15px 0px;
    border: solid;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.row>div {
    margin-bottom: 15px;
}

.content {
    min-height: 300px;
    background: #dbdfe5;
}

.content.bg-alt {
    background: #b4bac0;
}

.sidebar-top {
    min-height: 140px;
    background: #dbdfe7;
}

.sidebar-bottom {
    min-height: 145px;
    background: #7e8aa0;
    margin-bottom: -15px;
}

.sidebar,
.content {
    min-height: 300px;
}

.content-top {
    min-height: 160px;
    background: #b4bac0;
}

.content-bottom {
    min-height: 125px;
    background: #7e8aa0;
    margin-bottom: -15px;
}

.content-bottom.bg-alt {
    background: #9ca5b6;
}

@media (max-width: 991px) {
    .content-bottom {
        margin-bottom: 15px;
    }

    .content-bottom.bg-alt {
        margin-bottom: -15px;
    }
}

.intro {
    background: #7e8aa0;
    min-height: 250px;
}

.section {
    min-height: 150px;
    background: #dbdfe5;
}

.section.bg-alt {
    background: #b4bac0;
}

/* SIDE BAR CSS */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s
}




#sidebar .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #005086;
    color: #fff;
    transition: all 0.3s
}

#sidebar.active {
    margin-left: -250px
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #005086
}

#sidebar ul.components {
    padding: 20px 0px;
    border-bottom: 1px solid #47748b
}

#sidebar ul p {
    padding: 10px;
    font-size: 15px;
    display: block;
    color: #fff
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block
}

#sidebar ul li a:hover {
    color: #fff;
    background: #318fb5
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #318fb5
}

a[data-toggle="collapse"] {
    position: relative
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%)
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #318fb5
}

ul.CTAs {
    padding: 20px
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px
}

a.download,
a.download:hover {
    background: #318fb5;
    color: #fff
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s
}

.content-wrapper {
    padding: 15px
}

@media(maz-width:768px) {
    #sidebar {
        margin-left: -250px
    }

    #sidebar.active {
        margin-left: 0px
    }

    #sidebarCollapse span {
        display: none
    }
}